{{!
You can use this template to render any errors on your site if you wish
}}


<h1>{{title}}</h1>
<h6>{{errorcode}}</h6>
<div class="error-message">
    <h2>Something goes wrong</h2>
    <h4>( {{error}})</h4><h3>.</h3>
</div>
<footer>
    <a href="/"><h5>search for another character</h5></a>
</footer>
