{{!--

If the user is logged in and they are an admin user, and 'GET /admin' endpoint is called, you will render this view
based on the specs.



--}}

<h2>{{error}}</h2>
<h3>Welcome {{firstName}} {{lastName}}, the time is now: {{currentTime}}. </h3>
<h4>You get super secret admin access since you are an admin. Remember, with great power comes great responsibility!!</h4>
<footer>
    <a href="/protected"><h5>User</h5></a>
    <a href="/logout"><h5>Logout</h5></a>
</footer>
