{{!--

login form handlebar template

--}}

<h2>{{error}}</h2>
<form method="POST" id="login">
        <label for="emailAddressInput">Email:</label>
        <input type="email" id="emailAddressInput" name="emailAddressInput" required>

        <label for="passwordInput">Password:</label>
        <input type="password" id="passwordInput" name="passwordInput" required>
        <button type="submit" onClick="loginInput()">Login</button>
</form>
<div id="error" class="error" hidden><h4>Input error</h4></div>
<footer>
    <a href="/register"><h5>Register</h5></a>
</footer>
<script src='/public/js/client_side_validation.js'></script>
